<header>
  <nav>
    <ul>
      {% if user %}
        <li><a href="/logout">Déconnexion</a></li>
        <li><a href="/home">Accueil</a></li>
      {% else %}
        <li><a href="/register">Inscription</a></li>
        <li><a href="/login">Connexion</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
