<!-- Templates d'affichage (Twig) : Un template (ou gabarit) est un modèle de page avec des emplacements variables. -->

<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/register.css"/>
        {% block style %}{% endblock %}
        {% block title %}{% endblock %} 
    </head>
    <body>
        {% include "../partials/header.twig" %}
        {% block main %}{% endblock %}
        {% include "../partials/footer.twig" %}
        {% block script %}{% endblock %}
    </body>
</html>

